[Bb]uild/
Testing

# CLion
cmake-build*
.idea

# VSCode
compile_commands.json
build
.cache
.vscode

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
CTestTestfile.cmake
Makefile
install_manifest.txt

# other
imgui.ini
todo.md
res/runtime_files/*